<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <nav class=" navbar navbar-dark bg-dark navbar-expand-lg ">
        <a ><img src="https://cdn2.iconfinder.com/data/icons/40-flat-car-icons/400/car_25-512.png"width="60" height="60"></a>
        <a class="navbar-brand" href="/carros/inicio">AutoHouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/carros/lista">Carro <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes/lista">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendedores/lista" tabindex="-1" aria-disabled="true">Vendedor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carros/contactanos" tabindex="-1" aria-disabled="true">Contactanos</a>
            </li>
          </ul>
        </div>
      </nav>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
  <div class="col-md-12" align= "center" style="background-color: aliceblue">
    <h1>Bienvenido</h1>
    <h2>AutoHouse</h2>
  </div>  
  <div class="col-md-12" ">
      <p align= "justify" >
          <blockquote style="background-color: aliceblue; ">
              Concesionario Chevrolet con m치s de 40 a침os de experiencia y de existencia en el mercado ecuatoriano. Estamos comprometidos con nuestros clientes en la entrega de un producto de calidad internacional y servicio posventa 100% confiable.
       
              Concesionario Virtual con visi칩n de valorar el tiempo de nuestros clientes por lo que estamos a la vanguardia tecnol칩gica ofreciendo herramientas digitales para que sus necesidades sean atendidas con menor tiempo de respuesta.
               
              Asiste a nuestro showroom y dos puntos de servicio especializados en taller para mantenimiento preventivo y el mejor taller de colisiones.
          </blockquote>
        </p>  
        <br>    
  </div>
  <div align= "center" class="col-md-12" style="border:1px solid aliceblue;">
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h6zyp5t7_Wg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
  
</body>
</html>