body{
    /*background: lightskyblue*/
    /*background-image: url(../imagenes/Blue-Background.jpeg);*/
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    font-family: Verdana;
}
h1{
    font-family: Arial;
    
    
}
h2{
    font-family: "Times New Roman";
    color: rgb(161, 10, 10);
    text-align: center;
}
h3{
    font-family: Arial;
    /*color: rgb(15, 23, 26);*/
}
h4{
    font-family: Courier;
    color: rgb(100%,50%,25%);
    text-align: center;
}
/*partes del html # representa un id*/
#cabecera{
    background: rgba(24, 130, 190, 0.5);

}
#cuerpo{
    background: darkgray;
}

#pie{
    background: firebrick;
}

/* clases*/
.resaltado{
    font-family: sans-serif;
    color: cyan;
    text-decoration: none;
}

.justificado{
    text-align: justify;
}

blockquote{
    margin-bottom: 25px;
    padding-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-style: dotted;
    border-color: blue;
    color: blue;
    background: rgb(255, 252, 58);
}

table{
    background-color: aliceblue;
    text-align: center;
    border: black;
    
}

header{
    background: black;
    color: whitesmoke;
}

.color2{
    background: #34495e;
    color: #fff

}
.main{
    background: #f2f2f2;
}
footer{
    background: #16a085;
    color: #f111;
}

aside{
    background: #d46a06;
}