<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AutoHouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/carros/lista">Carro <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes/lista">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendedores/lista" tabindex="-1" aria-disabled="true">Vendedor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contactanos</a>
            </li>
          </ul>
        </div>
      </nav>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
<h1>Formulario de Creación</h1>
<h2>Crear nuevo cliente</h2>
<form
        action="/clientes/crear"
        method="post"
>

    <label for="cedulaId">Cedula</label>
    <input id="cedulaId" name="cedula" type="text">
    <br>
    <br>
    <label for="nombreId">Nombre</label>
    <input id="nombreId" name="nombre" type="text">
    <br>
    <br>
    <label for="apellidoId">Apellido</label>
    <input id="apellidoId" name="apellido" type="text">
    <br>
    <br>
    <label for="fechaNacimientoId">Fecha de Nacimiento</label>
    <input id="fechaNacimientoId" name="fechaNacimiento" type="date">
    <br>
    <br>
   
    <label for="direccionId">Direccion</label>
    <input id="direccionId" name="direccion" type="text">
    <br>
    <br>

    <button class="btn btn-warning mb-2" type="reset">Limpiar</button>
    <!--<button type="submit">Submit</button>-->

    <a href="/clientes/lista"><button class="btn btn-danger mb-2" type="button">Cancelar</button></a>

    <button class="btn btn-primary mb-2">Enviar informacion</button>

</form>
<script type="javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>


