<h1>Libros:</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Edicion</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Tipo</th>
    </tr>
    
    <% arregloLibros.foreach((libro)=>{%>
    <tr>
        <td><%libro.nombre%></td>
        <td><%libro.edicion%></td>
        <td><%libro.fecha%></td>
        <td><%libro.precio%></td>
        <td><%libro.tipo%></td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
        </td>
    </tr>
    <%})%>
</table>